<template>
   <li class="media">
        <div class="wrapper" :class="{'to-remove': remove}">
            <img class="d-flex mr-3" :src="'/' +  media.path" alt="Generic placeholder image">
            <div class="media-body">
            <h5 class="mt-0 mb-1">{{ media.mime_type }}</h5>
            </div>
        </div>
        <div class="remove-media" @click="toggleRemoveMedia">{{ removeLabel }}</div>
        <input type="hidden" name="media_to_remove[]" :value="remove">
    </li>
</template>

<script>
    export default {
        props: [
            'media'
        ],
        data() {
            return {
                remove: null
            }
        },
        computed: {
            removeLabel() {
                return this.remove ? 'Cancelar remoção' : 'Remover'
            }
        },
        methods: {
            toggleRemoveMedia() {
                this.remove = this.remove ? null : this.media.id;
            }
        },
        mounted() {
        }
    }
</script>
