<template>
    <div id="filters" class="row collapse">
        <div class="col-xs-12">
            <h1>filtros</h1>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
        ],
        components: {
        },
        mounted() {
        }
    }
</script>
