<template>
   <div class="translation-box row">
        <div class="col-xs-12">
            <label for="lang">Translation</label>
            <div class="row translations">
                <div class="col-xs-12">
                    <div class="row translation" v-for="translation in translations">
                        <div class="col-xs-12">
                            <a :href="translation.translation_route">
                                <span>{{ translation.lang }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="languages row">
                <div class="col-xs-12 form-group">
                    <select class="form-control" name="lang" v-model="selectedLang">
                        <option selected disabled value="null">Choose...</option>
                        <option
                            v-for="language in model.supported_translation_routes"
                            :value="language">
                            {{ language.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="add-translation row">
                <div class="col-xs-12">
                    <a :href="translationRoute">
                        <button type="button" class="btn btn-default">Translate</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'model',
            'translations',
        ],
        data () {
            return {
                selectedLang: null
            }
        },
        computed: {
            translationRoute() {
                return this.selectedLang ? this.selectedLang.route : '';
            }
        },
        methods: {

        },
        mounted() {
        }
    }
</script>
