
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.resource-index {
    width: 100%;
}

.media-box {
    .insert {
        margin-bottom: 28px;
    }
    .media {
        img {
            width: 100%;
            height: auto;
        }
        .to-remove {
            opacity: 0.2;
        }
    }
}

